body {
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

.spaziatura-1 {
  margin: 30px 0;
}
/* .spaziatura-2 {
  margin: 60px 0;
}
.spaziatura-3 {
  margin: 90px 0;
} */

.conteiner {
  max-width: 1080px;
  margin: 0 auto;
  margin-top: -10px;
}

.immagine-titolo {
  background-image: url(/img/pattern.png);
  background-color: #4ea0ff;
  background-size: contain;
  background-size: 40%;
}

#logo {
  padding: 25px 0;
  width: 225px;
  height: auto;
}

.author {
  color: rgb(198, 198, 198);
  margin: 0;
  line-height: 4px;
}

h1 {
  /* font-size: 2.3rem; */
  font-size: 36.5px;
  margin-bottom: 0;
}

/* Stile link */
a {
  text-decoration: none;
}

.photo {
  line-height: 2px;
}

ul {
  list-style-position: inside;
  padding-left: 0;
}
